fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-core
langgraph
chromadb
fastembed
pymupdf
python-dotenv
pydantic
psycopg2-binary
sqlalchemy
requests
transformers
tokenizers
langdetect
indic-transliteration
httpx
groq
rank-bm25
tiktoken